@use "variables";

body {
    $color-secondary: yellow;
    color: variables.$color-primary;
}

section {
    background-color: red;

    div{
        color: green;

        span {
            font-weight: bold;
        }
    }
}