$color-primary: blue;

:root {
    --color-test: red;
}

body {
    $color-secondary: yellow;
    color: $color-primary;
}

section {
    background-color: var(--color-test);

    div{
        color: green;

        span {
            font-weight: bold;
        }
    }
}