$color-primary: blue;

body {
    $color-secondary: yellow;
    color: $color-primary;

    span{
        color: $color-secondary;
    }
}

section {
    background-color: red;

    div{
        color: $color-primary;

        span {
            font-weight: bold;
        }
    }
}