* {
    font-family: 'Open sans', sans-serif;
    text-decoration: none;
    line-height: 1.5em;
}

#serviço1 {
    display: flexbox;
}

.foto {
    width: 40%;
}

.foto img {
    width: 100%;
}

.texto {
    width: 60%;
}