* {
    font-family: 'Open sans', sans-serif;
    text-decoration: none;
    line-height: 1.5em;
}

h2 {
    margin: 0;
}

#flexcontainer {
    display: flex;
    flex-wrap: wrap;
}

.foto {
    width: 40%;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto {
    width: 60%;
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 8%;
    background-color: blueviolet;
    display: table;
    vertical-align: middle;
}

.texto-interno {
    background-color: green;
    height: 100%;
}